.page_container {
	max-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #20314d;
	.cards_container {
		width: 90%;
		height: 500px;
		padding: 25px;
		margin-top: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 25px;
		background-color: #324c76;
		border-radius: 20px;
		box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
		.each_card_container {
			width: 250px;
			min-height: 350px;
			.each_card_box {
				width: 250px;
				height: 350px;
				position: relative;
				.each_card {
					width: 250px;
					height: 350px;
					border-radius: 5px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					overflow: hidden;
					transition: 0.3s;
					-webkit-transition: 0.3s;
					cursor: pointer;
					.card_overlay {
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center;
						transition: 0.3s;
						z-index: 999;
					}
					.card_brand {
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
					.card_video {
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						z-index: -1;
					}
				}
				.each_card:hover {
					width: 260px;
					height: calc((350px / 250px) * 260px);
				}
				.each_card:hover .card_overlay {
					opacity: 0;
				}
			}
			.each_card_footer {
				width: 100%;
				padding: 15px 0px;
				.each_card_title {
					font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
						Geneva, Verdana, sans-serif;
					font-weight: bold;
					font-size: 1.13rem;
					color: rgb(214, 233, 246);
					letter-spacing: 0.1px;
					margin-bottom: 5px;
				}
				.each_card_genre {
					font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
					font-weight: bold;
					color: #7a98c7;
					letter-spacing: 0.3px;
				}
			}
		}
	}
}
